@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@500&family=Roboto+Slab:wght@900&display=swap");
nav, footer {
  background-color: silver;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around; }

nav li .current {
  background-color: rgba(255, 255, 255, 0.6); }

.navigation {
  list-style: none;
  padding: 0em; }

.navigation li:first-child {
  display: block; }

.navigation li {
  display: none; }

.navigation a {
  display: block;
  color: black;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none; }

.navigation .active {
  background-color: rgb(13, 37, 109); }

.navigation a:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.719);
  font-weight: 700; }

.responsive li {
  display: block; }

/*Header*/
.pageTitle {
    background-color: silver;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.heading a {
    display: inline-block;
	margin: 0px 20px;
	text-decoration: none;
	padding: 3px;
	border: solid 1px black;
	border-radius: 8px;
	background-color: gray;
    color: white;
  }

/*body*/
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif; }


.hero-image {
  background-image: url("https://picsum.photos//id/1082/1920/400");
  background-color: #838080;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

h1, h3 {
  text-align: center; }

h1 {
  font-family: "Roboto Slab", serif;
  padding-top: 20px;
  margin-top: 0; }

h3 {
  padding-bottom: 20px;
  margin-bottom: 0;
  font-family: "Oswald", sans-serif; }

.content-grid {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 80%;
  margin: auto;
  padding: 20px; }

@media (min-width: 700px) {
  .navigation {
    display: flex; }

  .navigation li {
    display: block;
    flex: 1 1 100%; }

  .navigation li a {
    margin-left: 20px;
    text-align: center; }

  .navigation li:first-child {
    display: none; }

  .content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 80%;
    margin: auto;
    padding: 20px; } }
@media (min-width: 1000px) {
  .navigation {
    display: flex; }

  .navigation li {
    display: block;
    flex: 1 1 100%; }

  .navigation li a {
    margin-left: 20px;
    text-align: center; }

  .navigation li:first-child {
    display: none; } 
 }
 .grid-container {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    grid-gap: 12px;
    background-color: #efefef;
    padding: 10px;
     width: 600px;
    align-items: center;
 }
 .grid-start-1 {
    grid-column-start: 1;
 }
 .grid-start-2 {
    grid-column-start: 2;
 }
 .grid-start-3 {
    grid-column-start: 3;
 }
 .grid-start-4 {
    grid-column-start: 4;
 }
 .grid-start-5 {
    grid-column-start: 5;
 }
 .grid-start-6 {
    grid-column-start: 6;
 }
 .grid-end-2 {
    grid-column-end: 2;
 }
 .grid-end-3 {
    grid-column-end: 3;
 }
 .grid-end-4 {
    grid-column-end: 4;
 }
 .grid-end-5 {
    grid-column-end: 5;
 }
 .grid-end-6 {
    grid-column-end: 6;
 }
 .grid-end-7 {
    grid-column-end: 7;
 }
 table {
    border-collapse: collapse;
 }
 th, td {
    border: 1px solid #cccccc;
    padding: 10px;
    text-align: left;
 }
 label {
    font-size: 12px;
    text-align: right;
 }
 input,
 select {
    height: 30px;
    padding-left: 10px;
 }
 input[type="radio"] + label {
    position: relative;
    top: -11px;
 }
 button {
    height: 50px;
 }
 .error {
    display: none;
    font-size: 12px;
    color: #ff0000;
    grid-column: 2 / span 5;
 }
 .error p {
    margin-top: 0;
 }
 .show {
    display: initial;
 }
 .right {
    text-align: right;
 }
 /*Reading*/
.reading
{
	border: 2px solid rgb(7, 99, 102);
    background: radial-gradient(circle, #0e9abda4, white);
    text-align: center;
    text-emphasis: none;
}
.readingTitle
{
	text-align: center;
	color: black;
}
.readingCategory
{
	margin-left: center;
}
.readingText{
   padding-left: 20%;
   padding-right: 20%
}
/*Report*/
.report
{
	clear: left;
	border: 2px solid seagreen ;
	background: radial-gradient(circle, seagreen, white);
}
.reportTitle
{
	text-align: center;
	color: black;
}
.reportCategory
{
	margin-left: 20px;
}
.reportSection a
{
	display: inline-block;
	margin: 20px 0 0 20px;
	text-decoration: none;
	padding: 3px;
	border: solid 1px black;
	border-radius: 8px;
	background-color: lightgreen;
	color: white;
}
.reportText{
    padding-left: 20%;
    padding-right: 20%
 }